@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';

*,
*::before, 
*::after {
  box-sizing: border-box;
}

:root {
  --w-font-family: PingFang SC, Microsoft YaHei, Arial Regular;
  --w-font-family-medium: PingFang SC, Microsoft YaHei, Arial Medium;
}

body {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.375rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
